{% extends "base.html" %}

{% block main %}
<div class="container-fluid text-center">

    <div class="row-fluid">
        <div id="nav" class="col-lg-2">

            <div class="panel-group" id="accordion">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h5 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse_practice">
                                <h2>练习</h2>
                            </a>
                        </h5>
                    </div>
                    <div id="collapse_practice" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="row placeholders">
                                <div class="col-xs-6 col-sm-3 placeholder">
                                    <a id="practice_add" role="button" class="btn" data-toggle="modal"
                                       title="Click to add more"><i class="glyphicon glyphicon-plus"></i></a>
                                    <a id="practice_minus" role="button" class="btn" data-toggle="modal"
                                       title="Click to edit selected row"><i class="glyphicon glyphicon-minus"></i></a>
                                    <a id="practice_multiply" role="button" class="btn"><i
                                            class="glyphicon glyphicon-remove"></i></a>
                                    <a id="practice_divide" role="button" class="btn"><i
                                            class="glyphicon glyphicons-divide"></i></a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h5 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse_challenge">
                                <h2>挑战</h2>
                            </a>
                        </h5>
                    </div>
                    <div id="collapse_challenge" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="col-xs-6 col-sm-3 placeholder">
                                <a id="challenge_add" role="button" class="btn" data-toggle="modal" align="center"><i
                                        class="glyphicon glyphicon-plus"></i></a>
                                <a id="challenge_minus" role="button" class="btn" data-toggle="modal"><i
                                        class="glyphicon glyphicon-minus"></i></a>
                                <a id="challenge_multiply" role="button" class="btn"><i
                                        class="glyphicon glyphicon-remove"></i></a>
                                <a id="challenge_divide" role="button" class="btn"><i class="icon-divide"></i></a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="content" class="col-lg-7 text-center">
            <div class="col-12 specific-class">
                <form id='form' class="form-horizontal">

                    <div class="form-group">
                        <h1>
                            <div class="text-center">
                                <a id="btnSetup" data-toggle="modal" title="Setup"><span id="operation_title"
                                                                                         class="glyphicon glyphicon-option-vertical text-success">速算：加法</span>
                                </a>
                                <div id="countdowntimer"><span id="ms_timer"></span></div>
                            </div>
                        </h1>
                        <br>
                    </div>
                    <!-- <input id="start" class="btn btn-success" type="submit" name="start" value="Start"> -->
                    <div class="form-group">
                        <h1><label id="formula" for="add"></label></h1><br>
                        <input id="user_result" name="add" placeholder="" autofocus>
                        <!-- <input id="add" class="btn btn-success" type="button" name="add" value="Submit"> -->

                        <div id="actual_result"></div>
                    </div>
                    <div id="expected_result">
                        <a id="hint"></a>
                    </div>
                    <br><br>
                    <div>
                        <h1>计算规则</h1>
                        <br></br>
                        <h4>
                            <div id="rule_desc" class="text-justify col-lg-offset-4"></div>
                        </h4>
                    </div>

                    <!-- style="display:none"> -->
                </form>
            </div>
        </div>
    </div>


    <div id="sidebar" class="col-lg-3">
        <h2>历史记录:</h2><br>

        <div id="history_add"></div>
    </div>
</div>
</div>
{% endblock %}

{% block modal_login %}
<!-- Start Modal -->
<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true"
     xmlns="http://www.w3.org/1999/html">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <div class="form-group">
                    <!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button> -->
                    <h2 class="modal-title col-sm-2">登录</h2>

                    <h4><label class="result col-sm-10"/></h4>
                </div>
            </div>
            <form id="login_form" role="form" class="form-horizontal" method="post">
                <div class="modal-body">
                    <div class="form-group">
                        {{ login_form.csrf_token }}
                        <div class="form-group">
                            {{ login_form.csrf_token }}
                            {{login_form.username.label(class="control-label col-sm-3", for="username" )}}

                            <div class="col-sm-8">{{login_form.username(id="username",
                                class="form-control")}}
                            </div>
                        </div>

                        <div class="form-group">
                            {{login_form.password.label(class="control-label col-sm-3", for="password" )}}
                            <div class="col-sm-8">{{login_form.password(id="password",
                                class="form-control")}}
                            </div>
                        </div>

                        {#
                        <div class="form-group">
                            {{login_form.remember_me.label(class="control-label col-sm-3",
                            for="remember_me" )}}
                            {{login_form.remember_me(id="remember_me",
                            class="form-control")}}
                        </div>
                        #}
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="form-group">
                        <div class="col-sm-offset-4 col-sm-8">
                            <input type="button" value="登录" class="btn btn-default" id="login"/>
                            <input type="submit" value="关闭" class="btn btn-default" id="login_close"
                                   data-dismiss="modal"/>
                        </div>
                    </div>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<!-- End Modal -->
{% endblock %}

{% block modal_register %}
<!-- Start Modal -->
<div class="modal fade" id="register-modal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true"
     xmlns="http://www.w3.org/1999/html">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <div class="form-group">
                    <!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button> -->
                    <h2 class="modal-title col-sm-2">注册</h2>

                    <h4><label class="result col-sm-10"/></h4>
                </div>
            </div>
            <form id="register_form" role="form" class="form-horizontal" method="post">
                <div class="modal-body">
                    <div class="form-group">
                        {{ register_form.csrf_token }}
                        <div class="form-group">
                            {{ register_form.csrf_token }}
                            {{register_form.username.label(class="control-label col-sm-3", for="username" )}}

                            <div class="col-sm-8">{{register_form.username(id="username",
                                class="form-control")}}
                            </div>
                        </div>

                        <div class="form-group">
                            {{register_form.password.label(class="control-label col-sm-3", for="password" )}}
                            <div class="col-sm-8">{{register_form.password(id="password",
                                class="form-control")}}
                            </div>
                        </div>

                        <div class="form-group">
                            {{register_form.confirm.label(class="control-label col-sm-3",
                            for="confirm" )}}
                            <div class="col-sm-8">{{register_form.confirm(id="confirm",
                                class="form-control")}}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <div class="form-group">
                        <div class="col-sm-offset-4 col-sm-8">
                            <input type="button" value="注册" class="btn btn-default" id="register"/>
                            <input type="submit" value="关闭" class="btn btn-default" id="close"
                                   data-dismiss="modal"/>
                        </div>
                    </div>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<!-- End Modal -->
{% endblock %}

{% block modal_setup %}
<!-- Start Modal -->
<div class="modal fade" id="setup-modal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true"
     xmlns="http://www.w3.org/1999/html">
    <div class="modal-dialog">
        <div class="modal-content">

            <form id="setup_form" role="form" class="form-horizontal" method="post">
                <div class="modal-header">
                    <div class="form-group">
                        <!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button> -->
                        <h2 class="modal-title col-sm-2">设置</h2>

                        <h4><label class="result col-sm-10"/></h4>
                    </div>
                </div>

                <div class="modal-body">
                    <div class="form-group">
                        {{ setup_form.csrf_token }}
                        {{setup_form.digits.label(class="control-label col-sm-4", for="digits" )}}
                        <div class="col-sm-8">{{setup_form.digits(id="digits", class="form-control")}}</div>
                    </div>
                    <div class="form-group">
                        {{setup_form.rule.label(class="control-label col-sm-4")}}
                        <div class="col-sm-8">{{setup_form.rule(id="rule", class="form-control")}}</div>
                    </div>

                    <div class="form-group">
                        {{setup_form.count_of_numbers.label(class="control-label col-sm-4")}}
                        <div class="col-sm-8">{{setup_form.count_of_numbers(id="count_of_numbers",
                            class="form-control")}}
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <div class="form-group">
                        <div class="col-sm-offset-4 col-sm-8">
                            <input type="button" value="保存" class="btn btn-default" id="setup"/>
                            <input type="submit" value="关闭" class="btn btn-default" id="setup_close"
                                   data-dismiss="modal"/>
                        </div>
                    </div>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<!-- End Modal -->
{% endblock %}
{% block modal_setup_multiply %}
<!-- Start Modal -->
<div class="modal fade" id="setup-multiply-modal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true"
     xmlns="http://www.w3.org/1999/html">
    <div class="modal-dialog">
        <div class="modal-content">

            <form id="setup_multiply_form" role="form" class="form-horizontal" method="post">
                <div class="modal-header">
                    <div class="form-group">
                        <!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button> -->
                        <h2 class="modal-title col-sm-2" id="">设置</h2>

                        <h4><label class="result col-sm-10"/></h4>
                    </div>
                </div>

                <div class="modal-body">
                    <div class="form-group">
                        {{setup_multiply_form.rule.label(class="control-label col-sm-4")}}
                        <div class="col-sm-8">{{setup_multiply_form.rule(id="multiply_rule", class="form-control")}}
                        </div>

                    </div>
                </div>

                <div class="modal-footer">
                    <div class="form-group">
                        <div class="col-sm-offset-4 col-sm-8">
                            <input type="button" value="保存" class="btn btn-default" id="setup_multiply"/>
                            <input type="submit" value="关闭" class="btn btn-default" id="setup_multiply_close"
                                   data-dismiss="modal"/>
                        </div>
                    </div>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<!-- End Modal -->
{% endblock %}
{% block script %}

<script type="text/javascript">
//    $("#ms_timer").countdowntimer({
//			minutes : 20,
//		        seconds : 10,
//		        size : "lg"
//		});
    var history_tag = "#history_add"
    var history_tag_to_insert = ""
    //$.noConflict();
    $(document).ready(function () {
        var url = ""
        // Initialize
        $("#expected_result").html("")
        $("#btnSetup").attr({
            "href": "#setup-modal"
        })

        start_add_minus('#practice_add')
// Click + - * / buttons to start calc for Practice
        $('#practice_add').click(function (e) {
            e.preventDefault()
            start_add_minus('#practice_add')//url),//'/add/rule/1/count_of_numbers/2'),
        })
        $('#practice_minus').click(function (e) {
            e.preventDefault()
            start_add_minus('#practice_minus')//url),//'/add/rule/1/count_of_numbers/2'),
        })
        $('#practice_multiply').click(function (e) {
            e.preventDefault()
            start_multiply('#practice_multiply')//url),//'/add/rule/1/count_of_numbers/2'),
        })
        $('#practice_divide').click(function (e) {
            e.preventDefault()
            start_multiply('#practice_divide')//url),//'/add/rule/1/count_of_numbers/2'),
        })

// Click + - * / buttons to start calc for Challenge
        $('#challenge_add').click(function (e) {
           // countdowntimer()
            $("#ms_timer").countdowntimer({
            minutes: 20,
            seconds: 10,
            size: "lg"
        });
            e.preventDefault()
            start_add_minus('#challenge_add')//url),//'/add/rule/1/count_of_numbers/2'),
        })
        $('#challenge_minus').click(function (e) {
            e.preventDefault()
            start_add_minus('#challenge_minus')//url),//'/add/rule/1/count_of_numbers/2'),
        })
        $('#challenge_multiply').click(function (e) {
            e.preventDefault()
            start_multiply('#challenge_multiply')//url),//'/add/rule/1/count_of_numbers/2'),
        })
        $('#challenge_divide').click(function (e) {
            e.preventDefault()
            start_multiply('#challenge_divide')//url),//'/add/rule/1/count_of_numbers/2'),
        })

        // Check cookies
        $(function () {
            username_in_cookie = Cookies.get('username');
            if (username_in_cookie) {
                $("#btnLogin").text("欢迎 " + username_in_cookie)
            }
        })

        $("#setup").click(function (e) {
            e.preventDefault()
            var operator_type = $("#operation_title").text()
            if (operator_type.indexOf("加法")) {
                setup("add", '#practice_add')
            } else if (operator_type.indexOf("减法")) {
                setup("minus", '#practice_minus')
            }
        })
        $("#setup_multiply").click(function (e) {
            e.preventDefault()
            var operator_type = $("#operation_title").text()
            if (operator_type.indexOf("乘法")) {
                setup_multiply("multiply", '#practice_multiply')
            } else if (operator_type.indexOf("除法")) {
                setup_multiply("divide", '#practice_divide')
            }
        })

        $("#btnSetup").click(function () {
            $(".result").text("")
            var modalname = $("#btnSetup").attr("href")
            $(modalname).dialog({modal: true});
        });

// Login, Register
        $("#btnLogin").click(function () {
            $(".result").text("")
            $("#login-modal").dialog({modal: true});
        });
        $("#btnRegister").click(function () {
            $(".result").text("")
            $("#register-modal").dialog({modal: true});
        });
        $("#login").click(function (e) {
            e.preventDefault(),
                login()
        })
        $("#register").click(function (e) {
            e.preventDefault(),
                register()
        })


// $("#btnSuccessMessage").click(function () {
//   $("#success-message-modal").dialog({modal:true});
//    window.setTimeout(function (){
//       $("#success-message-modal").dialog('close');
//    }, 1000)
// });

    })


</script>

{% endblock %}
