{% extends "base.html" %}
<!-- <head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->

<!-- </head> --> -->
{% block header %}
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">心算强化训练</a>
    </div>
                       <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Projects</a></li>
        <li><a href="#">Contact</a></li>
      </ul>

                    <ul class="nav navbar-nav navbar-right">
			<li><a id="btnLogin" href="#login-modal" data-toggle="modal" title="Login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>

                        </ul>
			<ul class="nav navbar-nav navbar-right">
			<li><a id="btnRegister" href="#register-modal" data-toggle="modal" title="Register"><span class="glyphicon glyphicon-log-in"></span> Register</a></li>

                        </ul>
                    </div>

                </div>
            </nav>
{% endblock %}
{% block body %}
<div class="container-fluid text-center">
  <div class="row-fluid">
    <div id="nav" class="col-lg-2">
      <div>
        <a  id="start_add"  href="#"> <div class="well">
          <!-- <a id="start_add" href="#"> -->
            +
        </div></a>
      </div>  <div>
          <a  id="start_add"  href="#"> <div class="well">
            <!-- <a id="start_add" href="#"> -->
              -
          </div></a>
        </div>
        <div>
          <a  id="start_add"  href="#"> <div class="well">
            <!-- <a id="start_add" href="#"> -->
              *
          </div></a>
        </div>
        <div>
          <a  id="start_add"  href="#"> <div class="well">
            <!-- <a id="start_add" href="#"> -->
              /
          </div></a>
        </div>
    </div>
    <vr>
    <div id="content" class="col-lg-7 text-center">
         <div class="col-12 specific-class">
          <div class="t">
              <div class="tr">
                <h1>速算 - 加法</h1>
                    <form id='form' class="form-inline">
                      <!-- <input id="start" class="btn btn-success" type="submit" name="start" value="Start"> -->
                      <div class="form-group">
                      <h3>  <label id="formula" for="add"></label></h3>
                        <input id="user_result" name="add" placeholder="" autofocus>
                        <!-- <input id="add" class="btn btn-success" type="button" name="add" value="Submit"> -->

                        <div id="actual_result"></div>
                      </div>
                      <div id="expected_result" >
                      <a id="hint"></a>
                    </div>
                        <!-- style="display:none"> -->
                      </form>
                    </div>
                <hr>
                <div class="tr">
                  <h3>计算规则 1</h3>
                  <p>Lorem ipsum...</p>
                </div>
            </div>
            </div>
        </div>

	<div id="sidebar" class="col-lg-3">
	    <h3>Histories:</h3>

        <div id="history_add"> </div>
    </div>
  </div>
  </div>
{% endblock %}

  {% block footer %}
    <div class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
                <div class="navbar-inner">
    <div class="container">
    <div class="navbar-text pull-left">Copyright @2017 Flask Application</div></div></div></div>
  {% endblock %}

{% block modal_register %}
    <!-- Start Modal -->
    <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true" xmlns="http://www.w3.org/1999/html">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="">Sign In</h4>
          </div>
          <form id="login_form" role="form" class="form-horizontal" method="post">
            <div class="modal-body">
              <div class="form-group">
                {{login_form.hidden_tag()}}
                {{login_form.csrf_token }}
                {{login_form.username.label}} {{login_form.username(size=50)}}
                {{login_form.password.label}} {{login_form.password(size=50)}}
                {{login_form.remember_me.label}} {{login_form.remember_me}}
              </div>
              </div>

            <div class="modal-footer">
              <div class="col-md-6">
                <input type="button" value="Login" class="btn btn-default" id="login"/>
                <input type="submit" value="Close" class="btn btn-default" data-dismiss="modal"/>
              </div>
              <label class="result"/></br>
            </div>
          </form>
      </div><!-- /.modal-content -->
    </div><!-- /.modal -->
  </div>
    <!-- End Modal -->
           {% endblock %}

           {% block modal_login %}
               <!-- Start Modal -->
               <div class="modal fade" id="register-modal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true" xmlns="http://www.w3.org/1999/html">
                 <div class="modal-dialog">
                   <div class="modal-content">
                     <div class="modal-header">
                       <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                       <h4 class="modal-title" id="">Register</h4>
                     </div>
                     <form id="register_form" role="form" class="form-horizontal" method="post">
                       <div class="modal-body">
                         <div class="form-group">
                           {{ register_form.csrf_token }}
                           {{register_form.username.label}} {{register_form.username(size=50)}}
                           {{register_form.password.label}} {{register_form.password(size=50)}}
                           {{register_form.confirm.label}} {{register_form.confirm}}
                         </div>
                         </div>

                       <div class="modal-footer">
                         <div class="col-md-6">
                           <input type="button" value="Register" class="btn btn-default" id="register"/>
                           <input type="submit" value="Close" class="btn btn-default" data-dismiss="modal"/>
                         </div>
                         <label class="result"/></br>
                       </div>
                     </form>
                 </div><!-- /.modal-content -->
               </div><!-- /.modal -->
             </div>
               <!-- End Modal -->
                      {% endblock %}


{% block script %}

    <script type=text/javascript>
      $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

  </script>

  <script src="{{url_for('static',filename='jquery/js/js.cookie.js')}}"></script>
  <script src="{{url_for('static',filename='jquery/js/jquery.min.js')}}"></script>
  <script src="{{url_for('static',filename='bootstrap/js/bootstrap.min.js')}}"></script>
  <!-- <script src="{{url_for('static',filename='jquery/js/jquery.js')}}"></script> -->
  <script src="{{url_for('static',filename='twitter/js/typeahead.bundle.js')}}"></script>
  <script src="{{url_for('static',filename='custom/js/app.js')}}"></script>
  <script type="text/javascript">

  var history_tag = "#history_add"
  var history_tag_to_insert = ""

$(document).ready(function(){
  login(),
  register(),
  start('#start_add', '/add/rule/1/count_of_numbers/2'),
  $("#expected_result").html("")
  $("#expected_result").html("")
  $('#start_add').click()
  $("#btnLogin").click(function () {
    $(".result").text("")
    $("#login-modal").dialog({modal:true});
});

  $("#btnRegister").click(function () {
    $(".result").text("")
   $("#register-modal").dialog({modal:true});
});

  $(function() {
    username_in_cookie = Cookies.get('username');
    if (username_in_cookie){
    $("#btnLogin").text("Welcome " + username_in_cookie)
  }
})

})

  </script>

{% endblock %}
</body>
</html>
