<html xmlns:svg="http://www.w3.org/2000/svg">
<body>

<p>This is an HTML paragraph</p>

<div>
<svg:svg class="thesvg" id="thesvg" width="300" height="100" version="1.1" >
<svg:circle cx="100" cy="50" r="40" stroke="black"
stroke-width="2" fill="red" />
<text># Header 1

> Reference
</text>
<text id="t1" x="50" y="120">Example SVG text 1</text>
 </svg>
 <button onclick=circle1.style.fill="yellow";>Click to change to yellow</button>
</svg:svg>
</div>
<svg width="100" height="100" >
    <g transform="translate(40,40)">
        <text contentEditable="true">foo</text>
    </g>
</svg>
<textarea id="text-input"
<!-- oninput="this.editor.update()" -->
              rows="6" cols="60">Type **Markdown** here.</textarea>
    <div id="preview"> </div>
    <script src="../static/showdown.js"></script>
    <script src="../static/jquery/js/jquery.min.js"></script>
    <script>
      function Editor(input, preview) {
        this.update = function () {
          var converter = new showdown.Converter();
          preview.innerHTML = converter.makeHtml(input.value);
        };
        input.editor = this;
        this.update();
      }
      var $ = function (id) { return document.getElementById(id); };
      new Editor($("t1"), $("preview"));
    </script>
<script>
    window.getlocalmousecoord = function (svg, evt) {
    var pt = svg.createSVGPoint();
    pt.x = evt.clientX;
    pt.y = evt.clientY;
    var localpoint = pt.matrixTransform(svg.getScreenCTM().inverse());
    localpoint.x = Math.round(localpoint.x);
    localpoint.y = Math.round(localpoint.y);
    return localpoint;
};

window.edittext = function (localpoint, svg, dest, text) {
    if(dest) {
        dest.setAttribute('display', 'none');
    }
    var myforeign = document.createElementNS('http://www.w3.org/2000/svg', 'foreignObject')
    var textdiv = document.createElement("div");
    text = text || "type on me";
    var textnode = document.createTextNode(text);
    textdiv.appendChild(textnode);
    textdiv.setAttribute("contentEditable", "true");
    textdiv.setAttribute("width", "auto");
    myforeign.setAttribute("width", "100%");
    myforeign.setAttribute("height", "100%");
    myforeign.classList.add("foreign"); //to make div fit text
    textdiv.classList.add("insideforeign"); //to make div fit text
    myforeign.setAttributeNS(null, "transform", "translate(" + localpoint.x + " " + localpoint.y + ")");
    svg.appendChild(myforeign);
    myforeign.appendChild(textdiv);

    var range = document.createRange();
    range.selectNodeContents(textdiv);
    var sel = window.getSelection();
    sel.removeAllRanges();
    sel.addRange(range);

    function accept() {
        console.log('accept')
        if(textdiv.innerText.length) {
            if(dest) {
                dest.childNodes[0].nodeValue = textdiv.innerText;
                dest.setAttribute('display', 'inline-block')
            } else {
                var svgtext = document.createElementNS('http://www.w3.org/2000/svg', 'text');
                svgtext.appendChild(document.createTextNode(textdiv.innerText));
                svgtext.setAttribute("x", localpoint.x);
                svgtext.setAttribute("y", localpoint.y);
                svg.appendChild(svgtext);
            }
        } else if(dest) {
            dest.remove();
        }
        textdiv.onblur = null;
        myforeign.remove()
    }
    function cancel() {
        if(dest) {
          	dest.setAttribute('display', 'inline-block')
        }
        textdiv.onblur = null;
        myforeign.remove()
    }

    textdiv.onkeydown = function(event) {
        if(event.keyCode===13) {
            accept();
        } else if(event.keyCode===27) {
            cancel();
        }
    }
    textdiv.onblur = cancel;

    textdiv.focus();
};

var svg = document.getElementById('thesvg');
$('#thesvg').click(function (evt) {
    var localpoint, text, dest;
    if(evt.target.tagName === 'text') {
        dest = evt.target;
        localpoint = {x: dest.getAttribute("x"), y: dest.getAttribute("y")};
        text = dest.childNodes[0].nodeValue;
    } else if(evt.target.tagName === 'svg') {
        text = null;
      	localpoint = getlocalmousecoord(svg, evt);
    }
    else return;
    edittext(localpoint, svg, dest, text);
});
</script>
</body>
</html>
